@import 'tailwindcss';
@plugin 'daisyui';

@font-face {
  font-family: 'KIMM_Bold';
  src: url('@/assets/fonts/KIMM_Bold.ttf') format('truetype');
  font-weight: bold;
}
:root {
  /* 불러온 SUIT 폰트를 전체 기본 폰트로 지정 */
  font-family: 'SUIT Variable', sans-serif;
}
.font-kimm {
  font-family: 'KIMM_Bold', sans-serif;
}
